
<form method="post">

    {% csrf_token %}

    <input type="text" placeholder="firstName" name="firstName">
    <br>
    <input type="text" placeholder="lastname" name="lastname">
    <br>
    <input type="text" placeholder="UserName" name="Username">
    <br>
    <input type="text" placeholder="password" name="password">
    <br>
    <input type="text" placeholder="Kind" name="Kind">
    <br>
    <input type="text" placeholder="gender" name="gender">
    <br>
    <input type="text" placeholder="date_of_login" name="date_of_login">
    <br>
    <input type="text" placeholder="Email" name="Email">
    <br>
    <input type="text" placeholder="phone" name="phone">
    <br>
    <input type="text" placeholder="city" name="city">
    <br>
    <input type="submit"value="send">

</form>