*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image:url(../Images/BackReg2.jpg) ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}
.div1
{
    background-color: rgba(138, 138, 138, 0.2);
    text-align: center;
    width:45%;
    margin: auto;
    margin-top: 90px;
    border: none;
    border-radius: 3px;
    padding: 15px;
    box-shadow: -25px 25px 25px rgba(32, 32, 32, 0.4);
}
h1
{
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    margin-bottom: 25px;
}
input
{
    margin: 20px 10px;
    width: 260px;
    height: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    outline:none;
    border:none;
    transition: box-shadow 0.4s ease-in-out;
    padding: 15px 20px;
}

input:focus {
    box-shadow: inset 0 -3px 0 0 rgb(17,160,216);
}
button
{
    background-color: rgb(17,160,216);
    color: white;
    padding: 12px 40px;
    border-radius: 2px;
    margin: 10px 5px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
button:hover {
    background-color: rgb(10, 95, 129);
}