*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    background-color: rgb(26, 26, 26);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navBar{
    background-color: rgb(20, 19, 19);
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navBar img{
    width:80px;
    height: 80px;
    margin-top: 6px;
    margin-left: 6px;
}
.navBar li{
    list-style: none;
    padding-top: 22px;
}
.navBar li .item{
    text-decoration: none;
    margin-left: 22px; 
    padding-bottom: 25px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow:3px 3px 5px #555;
    display: inline-block;
    position: relative;
    opacity: 0.9;
}
.space{
    margin-right: 560px;
}
.login{
    margin-right: 22px;
}
.navBar li a button{
    background-color: rgb(233, 108, 19);
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding:5px 10px;
    border-radius: 5px;
    border-style:none ;
}

.navBar li .item:hover{
    color:rgb(17,160,216);
    opacity: 1;
}


.navBar li .item::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: rgb(17,160,216);
}
  
.navBar li .item::before {
    width: 0%;
    bottom: 10px;
}

.navBar li a:hover::before {
    width: 100%;
}


  
.navBar li button:hover{
    background-color: rgb(85, 85, 85);
    color:rgb(17,160,216);
    cursor: pointer;
}
header button:hover{
    background-color: rgb(85, 85, 85);
    color: rgb(17,160,216);
    cursor: pointer;
}
button:focus{
    outline: none;
}



header{
    background-image: url(../Images/header.jpg);
    opacity: 0.9;
    width: 100%;
    height: 380px;
    margin: auto;
    margin-top: 130px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header h1{
    text-align: left;
    padding-top: 100px;
    margin-left: 60px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow:6px 6px 10px rgb(54, 54, 54);
}
header .b{
    margin-top: 40px;
    margin-left: 260px;
}
header button{
    background-color: rgb(233, 108, 19);
    box-shadow:10px 10px 40px rgb(177, 77, 6);
    color: rgb(0, 0, 0);
    font-size: 23px;
    padding: 11px 15px;
    border-radius: 6px;
    border-style:none ;
}
.Latest{
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(233, 108, 19);
    text-shadow:6px 6px 10px rgb(54, 54, 54);
}


section .pro .img1{
    
    width: 95%;
    height: 85%;
    border-radius: 10px;
    padding-bottom: 5px;
}

section .pro{
    background-color: rgb(255, 255, 255);
    width: 18%;
    height: 330px;
    text-align: center;
    padding:6px 3px 35px;
    border-radius: 15px;
    margin:auto;
    margin-top: 50px;
    transition: 0.4s;
}
section .pro:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
    box-shadow: 0 6px 18px rgba(255, 255, 255, 0.2);
}
section .pro button{
    background-color: rgb(233, 108, 19) ;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 11px 15px;
    border-radius: 6px;
    border-style:none;
}
section .pro button:hover{
    background-color: rgb(146, 146, 146);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
}


section .pro p{
    font-weight: bolder;
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding-bottom: 3px;
}
section .pro h2{
    color: #666;
    font-size: 25px;
    font-weight: bolder;
}



footer{
    background-color: black;
    width: 100%;
    height: 120px;
    margin-top:40px;
    padding-bottom: 20px;
}
footer h3{
    color: white;
    text-align: center;
    padding-top: 50px;

}
hr{
    
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    opacity: 0.2;
    color: rgb(0, 0, 0);
}
.about{
    background-color: rgb(0, 0, 0);
    width: 90%;
    opacity: 0.5;
    margin: auto;
    margin-top: 20px;
    padding: 30px 15px;
    border-radius: 15px;
}

.Pabout{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span{
    color: rgb(255, 115, 0);
}
#face{
    color: rgb(7, 109, 224);
}
#insta{
    color: rgb(201, 7, 175);
}
#twitter{
    color: rgb(13, 126, 255);
}
#yout{
    color: rgb(238, 33, 18);
}

footer i{
    position:relative;
    top:43%;
    left:45%;
    transform:translate(-50%,-50%);
    padding-bottom: 15px;
    padding:5px;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.75;
}
footer i:hover{
    opacity: 1.0;
}
.person{
    margin-top: 20px;
    width:250px;
    height: 250px;
    border-radius: 150px;
    text-align: center;
    
}
.photo{
    text-align: center;
    padding:6px 3px 35px;
    width: 18%;
    margin:auto;
    margin-top: 50px;
}
.photo p{
    padding-top: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;

}
.photo img{
    transition: 0.4s;
}
.photo img:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
}


  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }